<a href="https://colab.research.google.com/github/AlinaSabitova/Data_analytics_tools-/blob/main/Untitled72.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2, 3], 'B': ['a', 'b', 'c']})
df2 = pd.DataFrame({'A': [1, 3, 4], 'C': ['d', 'e', 'f']})
inner_join = pd.merge(df1, df2, on='A', how='inner')
print(inner_join)

   A  B  C
0  1  a  d
1  3  c  e

In [5]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2, 3], 'B': ['a', 'b', 'c']})
df2 = pd.DataFrame({'A': [1, 3, 4], 'C': ['d', 'e', 'f']})
inner_join = pd.merge(df1, df2, on='A', how='outer')
print(inner_join)

   A    B    C
0  1    a    d
1  2    b  NaN
2  3    c    e
3  4  NaN    f

In [6]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2, 3], 'B': ['a', 'b', 'c']})
df2 = pd.DataFrame({'A': [1, 3, 4], 'C': ['d', 'e', 'f']})
inner_join = pd.merge(df1, df2, on='A', how='left')
print(inner_join)

   A  B    C
0  1  a    d
1  2  b  NaN
2  3  c    e

In [7]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2, 3], 'B': ['a', 'b', 'c']})
df2 = pd.DataFrame({'A': [1, 3, 4], 'C': ['d', 'e', 'f']})
inner_join = pd.merge(df1, df2, on='A', how='right')
print(inner_join)

   A    B  C
0  1    a  d
1  3    c  e
2  4  NaN  f

In [10]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
data = pd.DataFrame({'A': [10, 20, 30, 40, 50]})
scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(data)
print(normalized_data)

[[0.  ]
 [0.25]
 [0.5 ]
 [0.75]
 [1.  ]]

In [11]:
import pandas as pd
df = pd.DataFrame({'A': [10, 20, 30, 40, 50]})
normalized_data = (df-df.min())/(df.max()-df.min())
print(normalized_data)

      A
0  0.00
1  0.25
2  0.50
3  0.75
4  1.00

In [12]:
from sklearn.preprocessing import StandardScaler
import pandas as pd
data = pd.DataFrame({'A': [10, 20, 30, 40, 50]})
scaler = StandardScaler()
standardized_data = scaler.fit_transform(data)
print(standardized_data)

[[-1.41421356]
 [-0.70710678]
 [ 0.        ]
 [ 0.70710678]
 [ 1.41421356]]

In [13]:
import pandas as pd
df = pd.DataFrame({'A': [10, 20, 30, 40, 50]})
standardized_data = (df-df.mean())/df.std()
print(standardized_data)

          A
0 -1.264911
1 -0.632456
2  0.000000
3  0.632456
4  1.264911